body{
    margin: 10;
    background-image: url(../assets/background.png);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size:100vw 100vh;
}
.upper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
.vv {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 3vh;
}
.inc{
    font-size: 3vh;
}
.enter-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.enter {
    cursor: pointer;
    position: fixed;
    font-family: monospace;
    border-radius: 3vh;
    font-size:3vh;
    box-sizing: border-box;
    background-color: #eb7942;
    width:25vh;
    height:6vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid #fee29a;
    transition: all 0.5s ease;
    box-shadow: 3px 3px 5px;
}
.enter:hover {
    transform: translate(-50%, calc(-50% - 2px)); /* subtle bounce up */
    background-color: #ff914d;
    border-color: #ffd261;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



.full-page-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
  
  .logos {
    text-align: center;
    color: rgb(49, 49, 49);
    margin-top: 5vh;
  }